<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
   
    <name>HelloCordova</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="main.html" />
   
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
   
    <platform name="android">

       <config-file mode="merge" parent="/*" target="AndroidManifest.xml">

<uses-permission android:name="android.permission.CAMERA" android:required="true"/>
<uses-permission android:name="android.permission.FLASHLIGHT" android:required="true"/>
<uses-feature android:name="android.hardware.camera" android:required="true" />

        </config-file>
    </platform>
   
    <platform name="ios">
        <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
            <string>We need access to your camera to take photos.</string>
        </config-file>
        <config-file parent="NSPhotoLibraryUsageDescription" target="*-Info.plist">
            <string>We need access to your photo library to save images.</string>
        </config-file>
    </platform>
   
   <preference name="android-targetSdkVersion" value="33" />
    <allow-intent href="*" />
   
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
</widget>